{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>Beers</h1>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% for beer in object_list %}
        <ul>{{ beer }} <br>
            <div id="chart_{{ beer.id }}"></div>
            <script type="text/javascript">
                google.load('visualization', '1', {packages: ['corechart', 'line']});
                google.setOnLoadCallback(drawGraph);

                function drawGraph() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('date', 'X');
                    data.addColumn('number', 'Temperature');

                    data.addRows([
                        {% for temperature in beer.temperatures.all %}
                            [new Date({{ temperature.datetime|date:'U' }}000), {{ temperature.temperature }}],
                        {% endfor %}
                    ]);

                    var options = {
                        hAxis: {
                            title: 'Time'
                        },
                        vAxis: {
                            title: 'Temperature'
                        },
                        backgroundColor: '#f1f8e9',
                        curveType: 'function',
                        legend: {position: 'none'}
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_{{ beer.id }}'));
                    chart.draw(data, options);
                }
            </script>
            {{ beer.is_active }}
            {% for temperature in beer.temperatures.all %}
                <li>{{ temperature.datetime }} with {{ temperature.temperature }} </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}