{% extends "base.html" %}
{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="profile-form" method="post" action="">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock content %}