{% extends "base.html" %}
{% block content %}
    <h1>beers</h1>
    <br>
    {% for beer in beers %}
        <a role="button" class="btn {% if beer.profit < 0 %}btn-outline-danger{% elif beer.profit > 0 %}btn-outline-success{% else %}btn-outline-warning{% endif %} beer-list-item row" href="{% url 'brewer-beer' beer.pk %}">
            <div class="d-flex flex-row-reverse">
                <div class="p2 align-self-center">€{{ beer.profit | floatformat:2}}</div>
                <div class="p2 beer-text">
                    <span class="h1">{{ beer }}</span><br>
                    <div class="text-left justify-content-between">{{ beer.note }}</div>
                </div>
            </div>
        </a><br>
    {% endfor %}
    <div class="row">
        <div class="col-12 text-center">
            <a role="button" class="btn btn-primary" href="{% url 'brewer-beer-new' %}">New Beer</a>
        </div>
    </div>
{% endblock %}